{
  "removeComments": true,
  "collapseWhitespace": true,
  "collapseBooleanAttributes": true,
  "removeAttributeQuotes": true,
  "removeRedundantAttributes": true,
  "removeEmptyAttributes": true,
  "removeOptionalTags": true
}
